.container {
      max-width: 1300px;
      margin: 20px auto;
      padding-left: 15px;
      height: 511px;
      padding-right: 15px;
      background-color: #d4d3d3;
      border-radius: 18px;
}

h1{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2px;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(253, 253, 253);
}
 #form  {
  text-align: center;
  padding: 23px;
 }

 #form>label>input ,textarea{
  margin: 10px;
  text-align: left;
 }
 
 #form>label{
  vertical-align: inherit;
 }
 #form>button{
   background-color: blue;
   color: white;
 }